pytorch_lightning==1.8.5
torch
pytorch3d
transforms3d==0.3.1

tqdm
numpy
dotmap
PyYAML
omegaconf
loguru

pip
ipykernel
matplotlib
trimesh
pyrender
colour

pandas

pyglet

imageio[ffmpeg]

git+https://github.com/nghorbani/body_visualizer
git+https://github.com/MPI-IS/configer.git
git+https://github.com/MPI-IS/mesh.git
